%h1= @tag
= form_tag root_path, method: :get, class: "form-inline search-form" do
  = text_field_tag :search, params[:search], class: "input-large", placeholder: "Search Articles"
  = submit_tag "Search", class: "btn btn-primary", name: nil
= will_paginate @articles, renderer: BootstrapPagination::Rails
%hr
- @articles.take(15).each do |article|
  %h2= link_to article.title, article_path(article)
  %p.lead.muted= article.tag
  %p.muted
    = distance_of_time_in_words Time.now, article.created_at
    ago
  .row-fluid
    .span12
      = @parser.render(article.body).html_safe
  %hr
= will_paginate @articles, renderer: BootstrapPagination::Rails