%h1= @article.title
%p.lead= @article.tag
- if admin_signed_in?
  = link_to "Edit Article", edit_article_path(@article), class: "btn"
- else
  = link_to "Back", root_path

%hr
.row
  .span12
    = @parser.render(@article.body).html_safe