.text-center
  = image_tag gravatar_url, class: "gravatar"
- if admin_signed_in?
  %h4 Dashboard
  %ul.nav.nav-tabs.nav-stacked
    %li= link_to "New Article", new_article_path
%h4 Recent Articles
%ul.nav.nav-tabs.nav-stacked
  - @latest.each do |article|
    %li= link_to article.title, article_path(article)
%h4 Archives
%ul.nav.nav-tabs.nav-stacked
  %li= link_to "Browse All Articles", articles_archive_path + "?tag=#{@tag}"